/* Theme design by jn_xyp, all rights reserved */
/* Durian Resume Version 1.2 */

body {
    padding: 0;
    margin: 0;
}

div {
    /*font-family: "Times New Roman", "Simsun", serif;*/
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
}

img {
    width: 80%;
    height: auto;
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 2px 1px #333333;
}

ul {
    margin: 0;
    padding-left: 1.5em;
}

li,
p {
    margin: 0 0 0.3em 0;
}

b,
em {
    /*color: #333333;*/
}

.resume {
    display: flex;
    /*border: 1px solid grey; !* debug *!*/
    padding: 0 4px 4px 4px;
    margin: 0 4px 4px 4px;
    overflow: hidden;

    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#left,
#right,
.block {
    flex-direction: column;
}

.block-title {
    font-size: 20px;
    font-weight: bold;
}

.block-body {
    flex-direction: column;
    margin-top: 0;
    flex-grow: 1;
}

.skill-item {
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.skill-name {
    flex-basis: 100px;
    flex-shrink: 0;
}

.icon-text {
    margin-left: 10px;
}

.icon-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.float-right {
    text-align: right;
}

.secondary-title {
    display: flex;
    margin: 0 0 10px 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

.emphasize {
    font-weight: bold;
}

.job-title {
    font-size: 17px;
}

.dark-blue {
    color: #254665;
}

.org-title {
    font-size: 13px;
}

.dash {
    display: list-item;
}

.tags {
    flex-direction: row;
    flex-wrap: wrap;
}

#resume {
    margin: 0;
    padding: 0;
    /*box-shadow: 0 0 20px 2px #333333;*/


}

#left ul {
    list-style-type: none;
}

#left {
    padding: 25px 0 0 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    color: white;
    background: #254665;
    box-shadow: 1px 0 5px 0 #333333;
}

#right {
    padding: 25px 0 0 0;
    flex-grow: 3;
    flex-basis: 70%;
    color: #333333;
}

#right .block-title {
    color: black;
    border-bottom: 1px solid #254665;
    margin-bottom: 0.3em;
}

#resume-title {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#left-block-pic {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

#info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left .resume .block-body ul {
    padding-inline-start: 0;
}

#left .resume .block-body li>div {
    border-left: 3px solid white;
    padding-left: 15px;
}

#left .resume .block-body li {
    padding-bottom: 5px;
}

.star-rating {
    flex-shrink: 0;

    unicode-bidi: bidi-override;
    color: #ddd;
    font-size: 0;
    height: 25px;
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 0;
    text-shadow: 0 1px 0 #a2a2a2;
}

.star-rating span {
    padding: 5px;
    font-size: 20px;
}

.star-rating-top {
    color: #FFD700;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}

.star-rating-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}


/* Printing friendly optimizations */
@media print {
    div {
        font-size: 14px;
    }

    .skill-name,
    .star-rating,
    .hobby-item,
    .resume .secondary-title>div {
        display: inline-block;
    }

    .float-right {
        float: right;
    }

    .resume {
        padding: 0 1px 1px 1px;
        margin: 0 1px 1px 1px;
    }

    #resume {
        margin: 1em;
    }

    #left {
        margin: 0;
        padding: 0;
        flex-basis: 250px;
        flex-grow: 0;
        color: black;
        background: none;
        box-shadow: none;
    }

    #left .resume .block-body li>div {
        border-left-color: black;
    }

    #right {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    #left a[href^="http"] {
        color: transparent;
    }

    #left a[href^="http"]::before {
        content: attr(href);
        color: black;
    }
}